*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(188, 180, 170); 
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
     
}  

.box{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h2{
    align-self: center;
    font-size: 35px;
    margin-top: 20px;
    text-decoration:underline;
}
h3{
    margin-top: 50px;
    font-size: 25px; 
}
#newsInput{
    border-radius: 10px;
    padding: 15px;
    width: 96%;
    margin-top: 20px;
    height: 200px;
    font-size: 20px;
    background-color: rgb(218, 213, 207);
    border: none;
    font-family: sans-serif;
    font-weight: 300;
}
label{
    font-size: 20px;
    font-weight: 400;
    padding-left:10px ;
    
    
}
.box1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button{
   width: 150px;
   height: 35px;
   align-self: center;
   margin-top: 15px;
   border: none;
   border-radius: 10px;
   background-color: white;
   text-decoration: underline;
}
.output{
    width: 96%;
    height: 100%;
    background-color: rgb(218, 213, 207);
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-size:20px;
    line-height: 30px;
    font-weight:300;
}
.story{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


